---
import '../styles/main.scss';

import Navbar from "../components/Navbar.astro";
import Layout from "./Layout.astro";

const { allPosts, tags, category } = Astro.props;

---
<Layout pageTitle={`Posts about ${category}`} pageDescription={`Posts about ${category}`}>
  <header>
    <Navbar />
  </header>
  <main class="postbycategorylayout-container">
    <div>
      <ul>
        {allPosts.map((post: any) =>
        <li class="blogpostinfo-container border-bottom">
          <a href={post.url}>{post.frontmatter.title}</a>
          <span>{post.frontmatter.pubDate.slice(0,10)}</span>
        </li>)}
      </ul>
    </div>

    {tags.length > 0 &&
    <div class="tags-container">
      <h4>Tags</h4>
      <ul>
        {tags.map((tag: any) => (
        <li><a href={`/tags/${tag}`}>{tag}</a></li>))}
      </ul>
    </div>}
  </main>
</Layout>